# Java
*.class
*.log
*.jar
*.war
*.ear
target/
!.mvn/wrapper/maven-wrapper.jar

# Kafka
data/
logs/
kafka-logs/
zookeeper/
*.pid
*.log

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/

# Eclipse
bin/
.settings/
.metadata/
.classpath
.project
.factorypath

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Docker
*.pid
*.log
